body {
  background-color: rgb(31, 31, 31);
  color:white;
  margin: 0;

}

.TopBar {
  background-color: rgb(48, 48, 48);
  height: 1.5cm;
  width: 100%;
}
.NormalBTN {
  padding:4px 10px;
  margin: 0;
  border: 0;
  background-color: rgb(89, 89, 89);
  height: 0.9cm;
  color: white;
}
.SearchBTN {
  background-color: rgb(89, 89, 89);
  color: white;
  height: 0.9cm;
  width: 20%;
  border: 0;
  margin: 0;
  padding: 0;
  padding-left:2%;
  padding-right:2%;
}
