@media (min-width: 1921px) {
    video {
        width: 1920px;
        height: 1080px;
    }
}
@media (max-width: 1920px) {
    video {
        width: 1280px;
        height: 720px;
    }
}
@media (max-width: 1280px) {
    video {
      width: 800px;
      height: 600px;
    }
}
@media (max-width: 800px) {
    video {
      width: 400px;
      height: 300px;
    }
}
